header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--cor-fundo-primaria);
    z-index: 10;
}

header ul{
    display: flex;
    list-style: none;
}


header nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 2px 4px #808080;
}

nav a:hover{
    color: #2f11d6;
}

.logo{
    width: 80px;
}

.redes{
    width: 1.5rem;
    margin-right: 10px;
}