*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.5;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #a0c5f0a9;
}
.navbar-desktop{
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    margin-top: 50px
}
.navbar-mobile{
    display: none;
}

ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    text-shadow: 2px 4px #85858541;
}

a:hover{
    color: #2f11d6;
}

main{
    max-width: 1200px;
    margin: 140px 20%;
}

.logo{
    width: 80px;
}

.redes{
    width: 1.5rem;
    margin-right: 10px;
}

.botao-flutuante{
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #37f325;
    border: solid 1px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px #00000033;
    color: #000000;
}

